pipeline/4-pip_lookup_filter.json
{
	"name": "4-pip_lookup_filter",
	"properties": {
		"activities": [
			{
				"name": "Lookup_exemplo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_excel_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "raiz",
							"directory": "excel-com-parametros",
							"file_name": "exemplo_excel_contoller.xlsx",
							"sheet_name": "source_to_transient"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_exemplo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_exemplo').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().flag_controller,'1' )",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-13T02:28:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}