pipeline/6-pip_if.json
{
	"name": "6-pip_if",
	"properties": {
		"activities": [
			{
				"name": "Lookup_exemplo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "ds_excel_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"container": "raiz",
							"directory": "excel-com-parametros",
							"file_name": "exemplo_excel_contoller.xlsx",
							"sheet_name": "source_to_transient"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().If, '3' )",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Copy data FALSE",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_AzureSqlTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_parquet_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().Container",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_target",
														"type": "Expression"
													},
													"file_name": {
														"value": "@item().file_target",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "Copy data TRUE",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_AzureSqlTable",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "ds_csv_dynamic",
												"type": "DatasetReference",
												"parameters": {
													"container": {
														"value": "@item().Container_alternativo",
														"type": "Expression"
													},
													"directory": {
														"value": "@item().directory_target",
														"type": "Expression"
													},
													"filename": {
														"value": "@item().file_target",
														"type": "Expression"
													},
													"delimiter": ";"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_exemplo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_exemplo').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().flag_controller,'1' )",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-02-14T14:43:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}